<div class="l-main-container">
<div class="l-page l-page_mem l-page_home dtads-group" data-dtads-group-uid="1428408415482-tuo2">
<div class="m-leaderboard">
<div class="l-block-wrap">
<section class="m-mem h-mem" data-scope="homepage-mem">
	
	<div class="m-mem--slot four clear-tape white byline-white">
	<a href="#" sl-processed="1">
	<h4 class="title">
	<div class="title-div">
	<span>Red</span>
	<span>flag</span>
	<span>raised</span>
	<br>
	<span>over</span>
	<span>'fake'</span>
	<span>colleges</span>
	<br>
	<span>in</span>
	<span>nakuru</span>
	</div>
	</h4>
	<div class="byline">
	<img data-avatar-provider="uploaded" >
	<span>by Susan Owiyo</span>
	</div>
	<%= image_tag "classroom.jpg", class: "attachment-width=485&height=250&crop=1 wp-image-747258" %>
	</a>
	</div>
	<div class="m-mem--slot five clear-tape white byline-white">
	<a href="#" sl-processed="1">
	<h4 class="title">
	<div class="title-div">
	<span>Plant</span>
	<span>early</span>
	<span>maturing</span>
	<br>
	<span>plants,</span>	
	<span>Nakuru</span>
	<br>
	<span>residents</span>
	<span>advised</span>
	</div>
	</h4>
	<div class="byline">
	<img data-avatar-provider="uploaded">
	<span>by Maxwell Kamau</span>
	</div>
	<%= image_tag "sukumawiki.jpg", class: "attachment-width=485&height=250&crop=1 wp-image-747258" %>
	</a>
	</div>
</section>
<div class="l-river-wrap">
	<div class="m-tabs_river river-tabs">
		<div class="tab is-open">
			<a href="#" sl-processed="1">
			Latest
			<span class="long"> News</span>
			</a>
		</div>
		<div class="tab ">
			<a href="#" sl-processed="1">
			More News
			<span class="long"> From all Counties</span>
			</a>
		</div>
	</div>
	<section class="m-river" data-scope="river">
		<div class="l-river-items alpha text-left">
			<div class="m-river-item_post river-item " data-post-type="post">
				<div class="thumb do-enforce-ratio " data-ab-type="thumbnail" data-ratio-for="mobile" data-ratio="1.5">
					<a href="#" sl-processed="1">
					  <%= image_tag "mallet.jpg", class: "attachment-width=440&height=292&crop=1 wp-image-580402" %>
					</a>
				</div>
				<div class="meta">
					<h3 class="title ab-testable " data-ab-type="title" data-ab-status="control">
					<a href="#" sl-processed="1">Drama as wife testifies against husband in fraud case</a>
					</h3>
					<p class="content"> There was drama at Nakuru law Court, when a wife of an accused, who had jointly been charged for defrauding a Nakuru company money running into millions of shillings, made a shocking revelation of how they opened a bank account contrary to the husband’s narrative. 
					</p>
					<div class="wrap">
						<a class="cat" href="#" sl-processed="1"> Read more </a>
						<div class="byline">
							<span class="by">By</span>
							<a class="author" href="" sl-processed="1">Kalvin Odira</a>
							<span class="dash">—</span>
							<time class="date" pubdate="" datetime="2015-04-07T05:03:48+00:00">April 7, 2015</time>
						</div>
					</div>
				</div>
			</div>
			<div class="m-river-item_post river-item " data-post-type="post">
				<div class="thumb do-enforce-ratio " data-ab-type="thumbnail" data-ratio-for="mobile" data-ratio="1.5">
					<a href="#" sl-processed="1">
					  <%= image_tag "prison.jpg", class: "attachment-width=440&height=292&crop=1 wp-image-580402" %>
					</a>
				</div>
				<div class="meta">
					<h3 class="title ab-testable " data-ab-type="title" data-ab-status="control">
					<a href="#" sl-processed="1">Embrace cottage industries,prisons administrations urged</a>
					</h3>
					<p class="content"> Prison facilities' administrations have been challenged to embrace cottage industries to mobilize their resources intrernally,instead of overelying on government funding to sustain their programmes and projects. 
					</p>
					<div class="wrap">
						<a class="cat" href="#" sl-processed="1"> Read more </a>
						<div class="byline">
							<span class="by">By</span>
							<a class="author" href="" sl-processed="1">Alex Kasina</a>
							<span class="dash">—</span>
							<time class="date" pubdate="" datetime="2015-04-07T05:03:48+00:00">April 7, 2015</time>
						</div>
					</div>
				</div>
			</div>
			<div class="m-river-item_post river-item " data-post-type="post">
				<div class="thumb do-enforce-ratio " data-ab-type="thumbnail" data-ratio-for="mobile" data-ratio="1.5">
					<a href="#" sl-processed="1">
					  <%= image_tag "danger.png", class: "attachment-width=440&height=292&crop=1 wp-image-580402" %>
					</a>
				</div>
				<div class="meta">
					<h3 class="title ab-testable " data-ab-type="title" data-ab-status="control">
					<a href="#" sl-processed="1">Woman allegedly poisons husband over cheating allegations</a>
					</h3>
					<p class="content"> Police in Kikuyu are in pursuit of a woman, who allegedly spiked her husband’s tea with rat poison, after she discovered that he had an affair with another woman.

					The man, who was found in excruciating pain by their 7-year-old daughter at their Ondiri home on Sunday, 
					</p>
					<div class="wrap">
						<a class="cat" href="#" sl-processed="1"> Read more </a>
						<div class="byline">
							<span class="by">By</span>
							<a class="author" href="" sl-processed="1">Johnson Kiraithe</a>
							<span class="dash">—</span>
							<time class="date" pubdate="" datetime="2015-04-07T05:03:48+00:00">April 7, 2015</time>
						</div>
					</div>
				</div>
			</div>
			<div class="m-river-item_post river-item " data-post-type="post">
				<div class="thumb do-enforce-ratio " data-ab-type="thumbnail" data-ratio-for="mobile" data-ratio="1.5">
					<a href="#" sl-processed="1">
					  <%= image_tag "vibanda.jpg", class: "attachment-width=440&height=292&crop=1 wp-image-580402" %>
					</a>
				</div>
				<div class="meta">
					<h3 class="title ab-testable " data-ab-type="title" data-ab-status="control">
					<a href="#" sl-processed="1">Tujengee vibanda, wasema wanabiashara wa Gesima</a>
					</h3>
					<p class="content"> Wanabiashara kutoka soko la Gesima Kaunti ya Nyamira wamelalama kwa serikali ya  kaunti hiyo kutokana na kukosekana kwa vibanda vya kujikinga na mvua wakati wanafanya  biashara zao.

                    Wakiongea katika soko  hilo siku ya Jumapili katika soko hilo, wanabiashara hao walilalama kutokana na...
					</p>
					<div class="wrap">
						<a class="cat" href="#" sl-processed="1"> Read more </a>
						<div class="byline">
							<span class="by">By</span>
							<a class="author" href="" sl-processed="1">Yvonne Tinga</a>
							<span class="dash">—</span>
							<time class="date" pubdate="" datetime="2015-04-07T05:03:48+00:00">April 7, 2015</time>
						</div>
					</div>
				</div>
			</div>
			<div class="m-river-item_post river-item " data-post-type="post">
				<div class="thumb do-enforce-ratio " data-ab-type="thumbnail" data-ratio-for="mobile" data-ratio="1.5">
					<a href="#" sl-processed="1">
					  <%= image_tag "mp.jpg", class: "attachment-width=440&height=292&crop=1 wp-image-580402" %>
					</a>
				</div>
				<div class="meta">
					<h3 class="title ab-testable " data-ab-type="title" data-ab-status="control">
					<a href="#" sl-processed="1">MP asks residents to be vigilant, report crime</a>
					</h3>
					<p class="content"> Gatundu South MP Moses Kuria has called on residents in the constituency to be vigilant and work with the police towards promoting security.

                    The MP told reporters at Gatundu town that residents must be ready and willing to collaborate with the police. 
					</p>
					<div class="wrap">
						<a class="cat" href="#" sl-processed="1"> Read more </a>
						<div class="byline">
							<span class="by">By</span>
							<a class="author" href="" sl-processed="1">Everline Nyawire</a>
							<span class="dash">—</span>
							<time class="date" pubdate="" datetime="2015-04-07T05:03:48+00:00">April 7, 2015</time>
						</div>
					</div>
				</div>
			</div>
			<div class="m-river-item_post river-item " data-post-type="post">
				<div class="thumb do-enforce-ratio " data-ab-type="thumbnail" data-ratio-for="mobile" data-ratio="1.5">
					<a href="#" sl-processed="1">
					  <%= image_tag "save.jpg", class: "attachment-width=440&height=292&crop=1 wp-image-580402" %>
					</a>
				</div>
				<div class="meta">
					<h3 class="title ab-testable " data-ab-type="title" data-ab-status="control">
					<a href="#" sl-processed="1">NACADA urged to prevent alcohol consumption in drama festivals</a>
					</h3>
					<p class="content"> Parents in Nakuru have called on NACADA Chairman John Mututho to help ensure that the students do not consume drugs and alcohol during the national drama festivals.

                    The parents cited that majority of the students who went for the festivals would take advantage of their freedom and end up.. 
					</p>
					<div class="wrap">
						<a class="cat" href="#" sl-processed="1"> Read more </a>
						<div class="byline">
							<span class="by">By</span>
							<a class="author" href="" sl-processed="1">Laban Kiremanditi</a>
							<span class="dash">—</span>
							<time class="date" pubdate="" datetime="2015-04-07T05:03:48+00:00">April 7, 2015</time>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<aside class="l-sidebar" data-scope="sidebar">
	<div class="m-widget_trending-tabbed m-widget text-left" data-scope="trending-tabbed-widget">
		<div class="tab tab-1 trending is-on is-active">
			<h3 class="tab-title">
			<a href="javascript:void(0)" sl-processed="1">Most read this week</a>
			</h3>
			<div class="expand">
				<div class="wrap">
					<div class="item hotness h_4254000">
					<h4 class="title">
					<a href="#" sl-processed="1">Motorists cry foul over 'high' parking fee</a>
					</h4>
					<div class="progress">
					  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 99%;">
					    1st
					  </div>
					</div>
					</div>
					<div class="item hotness h_2357500">
					<h4 class="title">
					<a href="#" sl-processed="1">Mshukiwa wa wizi wa ng'ombe aponea kifo-Nyamira</a>
					</h4>
					<div class="progress">
					  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 68%;">
					    2nd
					  </div>
					</div>
					</div>
					<div class="item hotness h_1910000">
					<h4 class="title">
					<a href="#" sl-processed="1">Developer accused of conning illiterate man</a>
					</h4>
					<div class="progress">
					  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
					    3rd
					  </div>
					</div>
					</div>
					<div class="item">
					<h4 class="title">
					<a href="#" sl-processed="1">Sofapaka play Muhoroni Youth in KPL match</a>
					</h4>
					<div class="progress">
					  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
					    4th
					  </div>
					</div>
					</div>
					<div class="item">
					<h4 class="title">
					<a href="#" sl-processed="1">Kisii County to employ more ECD teachers</a>
					</h4>
					<div class="progress">
					  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 46%;">
					    5th
					  </div>
					</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tab tab-2 most-commented is-active">
			<h3 class="tab-title">
			<a href="javascript:void(0)" sl-processed="1">Most Commented</a>
			</h3>
		</div>
		<div class="tab tab-3 most-shared is-active">
			<h3 class="tab-title">
			<a href="javascript:void(0)" sl-processed="1">Most Shared</a>
			</h3>
		</div>
	</div>
	
	<div class="m-widget_generic m-widget text-left" data-scope="latest-posts-widget">
	    <h3 class="m-widget--title"> Latest News </h3>
		<div class="m-widget--item">
			<div class="thumb">
			<a href="#" sl-processed="1">
			<%= image_tag "most1.jpg", class: "aside-recent" %>
			</a>
			</div>
			<div class="meta">
			<h4 class="title">
			<a href="#" sl-processed="1"> Embrace cottage industries,prisons administrations urged </a>
			</h4>
			</div>
		</div>
		<div class="m-widget--item">
			<div class="thumb">
			<a href="#" sl-processed="1">
			<%= image_tag "most2.jpg", class: "aside-recent" %>
			</a>
			</div>
			<div class="meta">
			<h4 class="title">
			<a href="#" sl-processed="1"> NACADA urged to prevent alcohol consumption in drama festivals </a>
			</h4>
			</div>
		</div>
		<div class="m-widget--item">
			<div class="thumb">
			<a href="#" sl-processed="1">
			<%= image_tag "most3.jpg", class: "aside-recent" %>
			</a>
			</div>
			<div class="meta">
			<h4 class="title">
			<a href="#" sl-processed="1"> Thika man arrested for impregnating his daughter </a>
			</h4>
			</div>
		</div>
		<div class="m-widget--item">
			<div class="thumb">
			<a href="#" sl-processed="1">
			<%= image_tag "most4.jpg", class: "aside-recent" %>
			</a>
			</div>
			<div class="meta">
			<h4 class="title">
			<a href="#" sl-processed="1"> Prisoners escape following road accident in Kisumu </a>
			</h4>
			</div>
		</div>
		<div class="m-widget--item">
			<div class="thumb">
			<a href="#" sl-processed="1">
			<%= image_tag "most5.jpg", class: "aside-recent" %>
			</a>
			</div>
			<div class="meta">
			<h4 class="title">
			<a href="#" sl-processed="1"> Ongwae decries poor extension services in Kisii </a>
			</h4>
			</div>
		</div>
		<a class="m-widget--more" href="/features/" sl-processed="1">
		   <span>More News</span>
		</a>
	</div>
</aside>
</div>
</div>
</div>