<div class="l-main-container is-loading">
	<div class="l-page dtads-group" data-post-url="#" data-post-id="746920" itemtype="http://schema.org/Article" itemscope="" data-dtads-inject-video="1" data-dtads-inject="1" data-dtads-group-uid="1428425045151-ati1">
		<div class="m-leaderboard">
		</div>

		<div class="l-block-wrap">
			<header class="m-title-block">
				<div class="crumbs" data-scope="breadcrumbs">
				<span prefix="v: http://rdf.data-vocabulary.org/#">
				<span typeof="v:Breadcrumb">
				<a property="v:title" rel="v:url" href="#" sl-processed="1">Home</a>
				</span>
				<em>></em>
				<span typeof="v:Breadcrumb">
				<a property="v:title" rel="v:url" href="#" sl-processed="1">Sports</a>
				</span>
				<em>></em>
				<span typeof="v:Breadcrumb">
				<span class="breadcrumb_last" property="v:title">Kisii Photo of the Day: Kids showcase talents on red carpet</span>
				</span>
				</span>
				</div>
				<h1 class="title" itemprop="name"> Kisii Photo of the Day: Kids showcase talents on red carpet </h1>
				<div class="byline">
				<cite data-scope="byline">
				<span class="by">By</span>
				<span class="vcard">
				<a class="author url fn " href="" rel="author" sl-processed="1"> Calvin Odira </a>
				</span>
				<span class="dash">—</span>
				<span class="date dtreviewed" content="2015-04-04" itemprop="datePublished">
				<span class="value-title" title="2015-04-04">
				<time pubdate="" datetime="2015-04-04T17:00:13+00:00"> April 4, 2015</time>
				</span>
				</span>
				<span id="logged-in-component-single-admin-links"></span>
				</cite>
				</div>
			</header>
		    <div class="m-header-media image" data-scope="header-media">
				<div class="m-share m-share_bar full h-share" data-scope="share" data-tweet-hashtags="" data-tweet-text="Whatsapp messaging taking another direction" data-image="" data-title="" data-summary="" data-url="" data-taxonomy="" data-object-id="746920">
					<div class="m-share--wrap">
					<div class="key-items h-key-items">
					<div class="key-item comment is-empty h-comment">
					<a data-click-id="comment" href="#comments-746920" sl-processed="1">
					<span class="count h-count"></span>
					</a>
					</div>
					<div class="key-item facebook h-app" data-app="facebook">
					<a data-click-id="facebook" title="Share this on Facebook" href="javascript:void(0)" sl-processed="1">
					<span class="count h-count">13</span>
					</a>
					</div>
					<div class="key-item twitter h-app" data-app="twitter">
					<a data-click-id="twitter" title="Share this on Twitter" href="javascript:void(0)" sl-processed="1">
					<span class="count h-count">91</span>
					</a>
					</div>
					<div class="key-item reddit is-empty h-app" data-app="reddit">
					<a data-click-id="reddit" title="Share this on Reddit" href="javascript:void(0)" sl-processed="1">
					<span class="count h-count"></span>
					</a>
					</div>
					<div class="key-item pinterest is-empty h-app" data-app="pinterest">
					<a data-click-id="pinterest" title="Share this on Pinterest" href="javascript:void(0)" sl-processed="1">
					<span class="count h-count"></span>
					</a>
					</div>
					<div class="key-item email is-empty h-email" data-scope="email" data-post-id="746920">
					<a data-click-id="email" title="Share this by email" href="javascript:void(0)" sl-processed="1">
					<span class="count h-count"></span>
					</a>
					</div>
					<div class="key-item more is-empty h-more">
					<a title="Share this" href="javascript:void(0)" sl-processed="1"></a>
					</div>
					</div>
					<div class="aux h-aux">
					</div>
					</div>
					<a rel="post" href="#" sl-processed="1" vdh-2013041650="">
					<%= image_tag "dance.jpg"%>
					</a>
				</div>
			</div>
			<aside class="l-sidebar" data-scope="sidebar">

<div class="m-widget_news-reg m-widget do-register-newsletter is_protected">
<h4 class="title">
Get our
<br>
<em>top stories</em>
<br>
and
<em>more</em>
</h4>
<p class="content">
We deliver to your
<br>
inbox
<em>for free!</em>
</p>
<div class="msg"></div>
<form>
<input class="field" type="text" placeholder="Email Address" name="dt_newsletter_register_email">
<input class="button submit trackable" type="submit" value="Sign Up" data-trackable-form="nl_signup">
</form>
</div>
<div class="m-widget_generic m-widget is_protected" data-scope="latest-posts-widget">
<h3 class="m-widget--title"> Latest Sports Stories </h3>
<div class="m-widget--item">
			<div class="thumb">
			<a href="#" sl-processed="1">
			<%= image_tag "most1.jpg", class: "aside-recent" %>
			</a>
			</div>
			<div class="meta">
			<h4 class="title">
			<a href="#" sl-processed="1"> Embrace cottage industries,prisons administrations urged </a>
			</h4>
			</div>
		</div>
		<div class="m-widget--item">
			<div class="thumb">
			<a href="#" sl-processed="1">
			<%= image_tag "most2.jpg", class: "aside-recent" %>
			</a>
			</div>
			<div class="meta">
			<h4 class="title">
			<a href="#" sl-processed="1"> NACADA urged to prevent alcohol consumption in drama festivals </a>
			</h4>
			</div>
		</div>
		<div class="m-widget--item">
			<div class="thumb">
			<a href="#" sl-processed="1">
			<%= image_tag "most3.jpg", class: "aside-recent" %>
			</a>
			</div>
			<div class="meta">
			<h4 class="title">
			<a href="#" sl-processed="1"> Thika man arrested for impregnating his daughter </a>
			</h4>
			</div>
		</div>
		<div class="m-widget--item">
			<div class="thumb">
			<a href="#" sl-processed="1">
			<%= image_tag "most4.jpg", class: "aside-recent" %>
			</a>
			</div>
			<div class="meta">
			<h4 class="title">
			<a href="#" sl-processed="1"> Ongwae decries poor extension services in Kisii
			</h4>
			</div>
		</div>
		<div class="m-widget--item">
			<div class="thumb">
			<a href="#" sl-processed="1">
			<%= image_tag "most5.jpg", class: "aside-recent" %>
			</a>
			</div>
			<div class="meta">
			<h4 class="title">
			<a href="#" sl-processed="1"> Ongwae decries poor extension services in Kisii </a>
			</h4>
			</div>
		</div>
		<a class="m-widget--more" href="/features/" sl-processed="1">
		   <span>More News</span>
		</a>
</div>
</aside>
			<div class="l-content-wrap">
				<article class="m-content " data-scope="content" itemprop="articleBody">
					<p class="p1">
						If you’re looking for new
						<a class="text-link" href="3" sl-processed="1">music</a>
						, how often do you ask fellow audiophiles for a recommendation? And how much do you trust their musical taste? For Rithm, the
						<a class="text-link" href="#" sl-processed="1">mobile</a>
						<a class="text-link" href="#" sl-processed="1">music</a>
						app which lets users send each other musical messages, pictures, text and emojis, the answer is hopefully ‘not often enough’ and ‘better than Pandora.’
					</p>
					<p class="p1">
						Related: 
						<a class="text-link" href="#" sl-processed="1">Zuckerberg wants Whatsapp to be the “Global Messaging Platform”</a>
					</p>
					<p class="p1">The service, which has been around since 2013 (and is an offshoot of MavenSay, their lifestyle recommendation app), relaunches this week as a more robust, entirely legitimate music streaming service.</p>
					<p class="p1">
					Rithm’s bread-and-butter is in its ability to easily share music clips to friends. “This is a different type of [music streaming] service,”
					<a class="text-link" target="_blank" href="#" sl-processed="1">
					CEO Mike Wagman tells
					<i>Forbes</i>
					</a>
					. “Spotify has fully on-demand [songs] — anything, anytime. For us, it’s expanding the streaming market to consumers who want a messaging service.”
					</p>
					<div id="dtads-custom-1428425045150-vtuw" class="dtads-in-content-video" style="display: none;"></div>
					<div id="js-wrapper" class="has-muted">
					<div id="video">
				
					</div>





					<p class="p1">They had to gatecrash and feel it as they were only used to see it in their television sets at home during national functions.
					</p>
					<p class="p1">
						This dream came true when Kisii University had a music function over the weekend and they were given a chance to show their talents to the audience.
					</p>
					<p class="p1">They walked home very happy after they were given some gifts and drinks. It was a VIP mode for them.</p>
				</article>
				<div class="m-news-reg h-register-newsletter" data-scope="newsletter-register-module">
					<h4 class="title msg h-msg">
						Get our
						<strong>Top Stories</strong>
						delivered to your inbox:
					</h4>
					<form class="h-form" data-form-id="nl_signup">
						<input class="field" type="text" placeholder="Enter your email address" name="dt_newsletter_register_email">
						<input type="text" style="display:none" value="" name="robot">
						<input class="button submit" type="submit" value="Sign Up">
					</form>
				</div>
				<div class="m-content-widget gravity" data-scope="content-widget">
					<section id="comments-746920" class="m-comments" data-scope="comments" data-comment-module="facebook" data-comment-count="0" data-logout-url="#" data-user-reviews="" data-comments-order="desc" data-comments-open="1" data-post-id="746920">
					<div class="fb-comments fb_iframe_widget fb_iframe_widget_fluid" data-colorscheme="light" data-numposts="5" data-width="100%" data-href="#" fb-xfbml-state="rendered">
						<span style="height: 111px; width: 640px;">
							<iframe id="f1e263b400e16" class="fb_ltr" name="f2e9e9ea357196" scrolling="no" style="border: medium none; overflow: hidden; height: 111px; width: 640px;" title="Facebook Social Plugin" src="https://www.facebook.com/plugins/comments.php?api_key=61377565444&channel_url=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2F6Dg4oLkBbYq.js%3Fversion%3D41%23cb%3Df58b7d00eadd04%26domain%3Dwww.digitaltrends.com%26origin%3Dhttp%253A%252F%252Fwww.digitaltrends.com%252Ff1efc66817a0964%26relation%3Dparent.parent&colorscheme=light&href=http%3A%2F%2Fwww.digitaltrends.com%2Fmusic%2Frithm-whats-app-for-music-messaging%2F&locale=en_US&numposts=5&sdk=joey&skin=light&version=v2.0&width=100%25">

							</iframe>
						</span>
					</div>
					</section>
				</div>
			</div>	
		</div>	
	</div>	
</div>